{% extends 'base.html.twig' %}

{% block title %}Mes démarches{% endblock %}

{% block body %}
    <section class="hero is-primary">
        <div class="hero-body">
            <h2 class="title has-text-centered is-size-2">Mes démarches</h2>
        </div>
    </section>

    <div class="container">
        <p>Nous sommes le {{ "now"|date()|format_datetime('full', 'none', locale='fr') }}</p>
        <p>la semaine n°{{ "now"|date('W')}} du {{"now"|date()|date_modify('last Monday')|format_datetime('full', 'none', locale='fr') }} au {{"now"|date()|date_modify('next Wednesday')|format_datetime('full', 'none', locale='fr') }} </p>

        <div class="columns is-multiline">
            {% for i in 0..6 %}
                {% set modifier = 'last Monday +'~ i ~ ' day' %}
                {% set day = "NOW"|date()|date_modify(modifier) %}
                <div class="column is-3">
                    <div class="box">
                        <h3 class="title has-text-centered is-size-6">{{day|format_datetime('full', 'none', locale='fr')}}</h3>
                        <h4>{{user_steps|filter(step => step.date == day)|length}} démarche(s) réalisée(s)</h4>
                        {% for step in user_steps %}
                            {% if step.date == day %}
                                <h5 class="title">{{step.step.name}}</h5>
                                <p>pendant {{step.duration|format_datetime('none', 'short', locale='fr') }} heure(s)</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="column is-3">
                <div class="box">
                    <h3 class="title has-text-centered is-size-6">Total</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{#<a href="{{ path('app_user_steps_new') }}">Create new</a> 

#}